<div class="container">
    <div class="jumbotron">
	   
      <h2>Add new Event</h2>

        <%= form_for @events, class: "form-horizontal" do |f| %>

            <div class="form-group">
              <%= f.label :venue_id, class: "col-sm-2 control-label" %>
              <%= f.collection_select :venue_id, Venue.all, :id, :name, prompt: true, :required => true %> 
            </div>

            <div class="form-group">
              <%= f.label :band_id, class: "col-sm-2 control-label" %>
              <%= f.collection_select :band_id, Band.all, :id, :name, prompt: true, :required => true %> 
            </div>


            <div class="form-group">
              <%= f.label :event_date, class: "col-sm-2 control-label" %> 
              <%= f.date_field :event_date, class: "form-control", :required => true %>  
            </div>

            <div class="form-group">
              <%= f.label :alcohol_served, class: "col-sm-2 control-label" %>  
              <%= f.select :alcohol_served, [["Yes", true], ["No", false]], {}, {class: "form-control"} %>  
            </div>
            <center>
                <%= submit_tag 'Add', class: 'btn btn-default btn-primary' %>
                
            </center>
        <% end %>
        <br>
        <center>
            <a <%= link_to "Go To Events", events_path, class: 'btn btn-default btn-primary' %></a>
        </center>
    </div>
</div>
