<!DOCTYPE html>
<html>
<head>
  <title>Edit Venue Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="container">
    <div class="jumbotron">
     <h2>Edit Details of Venue</h2>

     <%= form_for @venues, :html => {:class => "form-horizontal"} do %>

               <div class="form-group">
                <%= label :name, "Name:", class: "col-md-4 control-label" %>
                <div class="col-md-8">
                  <%= text_field_tag :name, @venues.name, class: "form-control" %>
                </div>
              </div>

            <div class="form-group">
              <%= label :city, "City:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= text_field_tag :city, @venues.city, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label :state, "State:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= text_field_tag :state, @venues.state, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label :state, "Family Friendly", class: "col-md-4 control-label" %>
              <div class="radio">
                <label><%= radio_button :family_friendly, @venues.family_friendly, 'Yes', :checked => true %> Yes</label>
                <label><%= radio_button :family_friendly, @venues.family_friendly, 'No', :checked => false %> No</label>
              </div>
            </div>
            
            <center><%= submit_tag "Delete", class: "btn btn-default btn-primary" %></center>  
    <% end %>



  </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</body>
</html>




