<li>Name: <%= @venues.Name %></li>
<li>City : <%= @venues.city %></li>
<li>State: <%= @venues.state %></li>
<li>Family Friendly<%= @venues.family_friendly %></li>

<%= link_to "All Venues", venues_path %>
