<div class="container">
  <div class="jumbotron">
    <h1>Most Amazing Bands and Artist</h1> <br>

<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Band Name</th>
      <th>Genre</th>
      <th>Explicit Lyrics</th>
      <th>Edit-Cancel Event</th>
    </tr>
  </thead>
  <tbody>
  	<% @bands.each do |t| %>
    <tr>
      <th scope="row">=></th>
      <td><%= t.name %></td>
      <td><%= t.genre %></td>
      <td><%= t.explicit_lyrics %></td>
      <td><%= link_to "Edit", edit_band_path(t) %> -
          <%= link_to "Remove", band_path(t), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
</tbody>
</table>
<%= link_to "Add New Band", new_band_path, class: 'btn btn-primary btn-block' %>
</div>
</div>




